.progress-bar-base {
    background-color: aliceblue;
}

.progress-bar {
    height: 15px;
    width: 0px;
}

.progress-bar.blue {
    background-color: rgb(19, 132, 160);
}

.progress-bar.purple {
    background-color: purple;
}

.progress-bar.pink {
    background-color: pink;
}